<div class="content">
  <div class="busca-box">
    <div class="row">
      <div class="search-col">
        <label class="col-title">Buscar</label><br />
        <input class="search-input" placeholder="Nome do pet, abrigo, endereco...">
      </div>
      <div class="select-col">
        <span class="col-title">Porte</span><br />
        <select class="select-input">
          <option [value]="1"> Pequeno</option>
          <option [value]="2"> Médio</option>
          <option [value]="3"> Grande</option>
        </select>
      </div>
      <div class="button-col">
        <span class="button">Encontrar Pet</span>
      </div>
    </div>
  </div>
</div>
