<div class="sidebar-top row">
	<div class="col-md-8"></div>
	<div class="col-md-4">
		<div class="perfil-info">
			<span class="title-name"> {{ usuario?.nome }} </span>
			<img class="perfil-img" src="../../../../assets/dog-icon.png">
			<div class="user-info">
				<span style="cursor: pointer" (click)="goToAbrigoRead()"> <i class="fas fa-info-circle"></i> Minhas informações </span> <br/>
				<span style="cursor: pointer" (click)="logout()"> <i class="fas fa-sign-out-alt " ></i> Sair </span>
			</div>
		</div>
	</div>
</div>
