<div class="card-container row">
  <div class="card-title">
    <h1> Título </h1>
  </div>
  <div class="card-content">
    <table class="table table-striped table-hover">
      <thead class="thead-blue">
        <th> Nome </th>
        <th> Número CRM </th>
        <th> Especialidade </th>
        <th> Situação </th>
        <th> Ações </th>
      </thead>
      <tbody>
        <tr *ngFor="let i of [1,2,3,4,5]">
          <td> João </td>
          <td> 21546 </td>
          <td> Pediatra </td>
          <td> Ativo </td>
          <td>
            <button class="btn btn-sm"> <i class="fas fa-edit"></i> </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>